/* stylelint-disable color-function-notation */

.GetIconForDepartmentWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  .CardIconsSelector {
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;

    svg {
      border: 2px;
    }

    svg,
    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      color: #0000ac;
      transition: all 0.2s ease-in-out;
    }

    svg:hover,
    img:hover {
      transform: scale(1.05);
    }

    svg:active,
    img:active {
      transform: scale(0.98);
    }
  }
}
