.NavbarCalendarWrapper {
  display: inline-flex;
  padding: 7.523px 19.728px 7.719px 20.929px;
  justify-content: center;
  align-items: center;
  border-radius: 6.328px;
  border: 1px solid #e0e0e0;

  p {
    color: #1d1d1d;
    font-family: sans-serif;
    font-size: 16.875px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.042px;
  }
}
