.FullScreenBtn {
  padding: 10px 20px;
  position: absolute;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: sans-serif;
  margin: 10px;
  background-color: transparent;
}

.QueuesPageWrapper {
  .QueuesPageFlex {
    /* stylelint-disable-next-line custom-property-pattern */
    width: calc(100% - var(--sidebarWidth));

    img {
      width: 75%;
    }

    @media only screen and (max-width: 1326px) {
      img {
        width: 100%;
      }
    }
  }
}

// .QueuesPageWrapper {
//   width: 99%;
//   height: 100%;
//   margin: 0;
//   padding: 0;

//   .QueuesPageImg {
//     width: 59vw;
//     min-height: 70vh;

//     @media only screen and (max-width: 1270px) {
//       width: 630px;
//       height: 370px;
//     }
//   }

//   .RightCardRendering {
//     width: 19vw;
//     min-height: 70vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     gap: 22px;
//     margin-left: -5px;

//     // @media only screen and (max-width: 1580px) {
//     //   display: none;
//     // }
//   }

//   .RightCardRendering2 {
//     max-width: 80vw;
//     width: 100%;
//     overflow: hidden;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     gap: 25px;
//     margin-top: 20px;

//     // @media only screen and (max-width: 1580px) {
//     //   display: grid;
//     //   grid-template-columns: 1fr 1fr 1fr;
//     // }

//     // @media only screen and (max-width: 1270px) {
//     //   grid-template-columns: 1fr 1fr;
//     // }

//     .responsiveVisable {
//       display: none;

//       // @media only screen and (max-width: 1580px) {
//       //   display: grid;
//       // }
//     }
//   }

//   .QueuesPageFlex {
//     width: 100%;
//     max-height: 70vh;
//     display: flex;
//     align-items: flex-start;
//     gap: 30px;
//   }

//   .BorderCardOchered {
//     border: 1px solid #e0e0e0;
//   }

//   .Marquee {
//     font-size: 20px;
//     margin: 25px;
//     margin-left: 0;
//     user-select: none;
//     font-family: sans-serif;
//     color: #000;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     letter-spacing: 0.1px;

//     @media only screen and (max-width: 1580px) {
//       max-width: 95px;
//     }
//   }
// }
