.ControlPanelDocktorWrapper {
  width: 100%;
  display: flex;
  position: sticky;
  bottom: 0;
  min-height: 130px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  text-align: center;
}
