.NavbarLogoutWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: sans-serif;
  gap: 10px;

  &__language {
    cursor: pointer;

    &--icon {
      font-size: 35px;
      color: #707070;
    }

    &--img {
      width: 25px;
      height: 25px;
    }
  }

  &__language:hover &--icon {
    color: #353535;
  }

  &__language:active &--icon {
    transform: scale(0.96);
  }
}
