.NavbarLogoutWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: sans-serif;
  gap: 10px;

  .language {
    font-size: 30px;
    margin-top: -3px;
    color: #707070;
    cursor: pointer;
  }

  .language:hover {
    color: #353535;
  }

  .language:active {
    transform: scale(0.96);
  }
}
