.errorMessageWrap {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.errorMessage {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  color: red;
}

.errorMessageBtn {
  max-width: 300px;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 28px;
  background: #1abc9c;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.errorMessageBtn:active {
  transform: scale(1.02);
}
