/* stylelint-disable no-descending-specificity */
.AddAdsPageWrp {
  width: 100%;
  max-width: 1300px;

  &__Title {
    max-width: 1300px;
    width: 100%;
    max-height: 60px;
    font-family: sans-serif;
    border-radius: 5.273px;
    background: var(--bg-table);
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
    text-align: center;

    &--text {
      color: var(--text-color);
      font-family: sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.036px;
      user-select: none;
    }

    &--span {
      color: #828282;
    }

    &--IconDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    &--Icon {
      width: 35px;
      height: 35px;
      flex-shrink: 0;
      display: flex;
      padding: 7px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      color: var(--icon-color);
      border: 1.1px solid #e0e0e0;
      border-radius: 5.2px;
    }

    &--IconDiv:active {
      transform: scale(0.97);
    }
  }

  &__Table {
    user-select: none;
    font-family: sans-serif;
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    width: 100%;

    &--Tablethead,
    &--Tabletbody {
      width: 100%;
      text-align: center;
    }

    &--Tabletbody {
      display: flex;
      flex-direction: column;
    }

    &--edit,
    &--delete {
      width: 120px;
    }

    &--btnLink {
      background-color: transparent;
      border: 1px solid var(--border-table);
      padding: 8px 16px;
      border-radius: 8px;
      list-style: none;

      //  text
      color: var(--text-color);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-family: sans-serif;
      letter-spacing: 0.225px;

      &:hover {
        color: #fff;
        background-color: #0000ac;
      }
    }

    &--tr {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      background-color: var(--bg-table);
      padding: 20px;
      margin: 3px auto;
      color: var(--text-color);
      transition: all 0.3s linear;

      &:hover {
        background-color: var(--hover-bg-table);
      }
    }

    &--th,
    &--td {
      min-width: 180px;
      width: 100%;
    }

    &--img {
      max-width: 40px;
      max-height: 40px;
      object-fit: cover;
      border-radius: 5px;
      transform: scale(1.2);
      object-position: center;
    }

    &--lastChild {
      max-width: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 25px;
        color: #828282;
        cursor: pointer;
        font-size: 20px;
      }

      svg:hover {
        color: blue;
      }

      svg:active {
        transform: scale(1.01);
      }
    }

    &--lastChild2 {
      max-width: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 30px;
        color: #828282;
        cursor: pointer;
        font-size: 26px;
      }

      svg:hover {
        color: red;
      }

      svg:active {
        transform: scale(1.01);
      }
    }
  }
}
