.QueueUserNextWrapper {
  width: 100%;
  display: flex;
  max-width: 350px;
  align-items: center;
  justify-content: center;

  .QueueUserNextBtn {
    width: 100%;
    display: flex;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
    padding: 10px 30px;
    font-family: sans-serif;
    align-items: flex-start;
    background-color: #2da9e8 !important;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    transform: scale(1.02);
  }
}
