/* stylelint-disable string-quotes */

.QueueUserControlWrapper {
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .Buttons {
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

    .QueueUserNextBtn {
      width: 100%;
      display: flex;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 18px;
      border-radius: 6px;
      padding: 10px 30px;
      font-family: sans-serif;
      align-items: flex-start;
      background-color: #2da9e8 !important;
    }

    .ButtonsTitle {
      color: #828282;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.04px;
      font-family: sans-serif;
      user-select: none;
    }

    .BtnClient {
      width: 100%;
      gap: 10px;
      display: flex;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 18px;
      border-radius: 6px;
      padding: 10px 30px;
      font-family: sans-serif;
      align-items: flex-start;
      background-color: #f87017 !important;
    }

    .colorRed {
      color: black !important;
    }

    .BtnClient:active {
      transform: scale(1.01);
    }

    .BtnClientIcon {
      width: 40px;
      position: absolute;
    }

    .BtnClientIcon2 {
      opacity: 0.5;
    }

    .BtnClientIconActive {
      opacity: 1 !important;
    }
  }
}
