.NavbarLogoWrapper {
  user-select: none;

  .NavbarLogo {
    width: 150px;
    height: 30px;
    stroke-width: 1.5px;
    font-size: 120px;
    color: #280559;
    text-align: justify;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
  }
}
