.NavbarProfileWrapper {
  margin: 0 10px;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 10px;

  h3 {
    color: #000;
    font-family: sans-serif;
    font-size: 16.875px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.042px;
  }
}
