.app_dark_theme {
  --bg-color: #000;
  --bg-widget: #000;
  --bg-table: #000;
  --border-table: #fff;
  --text-color: #fff;
  --icon-color: #fff;
  --burger-color-hover: #f9f9f9;
  --hover-bg-table: #121212;
}
