:root {
  --bg-color: #f9f9f9;
  --bg-widget: #f9f9f9;
  --bg-table: #fff;
  --border-table: #fff;
  --text-color: #000;
  --burger-color-hover: #000;
  --hover-bg-table: #ececec;
  --menu-color: #0000ac;
}
