.bigClass {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.QueuesControlDoctorWrapper {
  width: 100%;

  .TableTitle {
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
  }

  &__noQueueTitle {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    color: #970407;
    padding: 15px;
    font-weight: 500;
    user-select: none;
  }
}

.wraperListDoctor {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2px;
  gap: 15px;
}

.TableDoctor {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 0;
}
