.QueuingTvWrapper {
  width: 100%;
  margin: 0 auto;

  .RenderSectionCard {
    width: 100%;
    max-height: 700px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 10px 5px;
    flex-wrap: wrap;

    @media only screen and (max-width: 1447px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 1020px) {
      grid-template-columns: 1fr;
    }
  }
}
