/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable block-opening-brace-space-before */
/* stylelint-disable at-rule-no-vendor-prefix */
.QueueDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000080;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;

  .QueueDialogContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 300px;

    // -webkit-animation-name: zoomIn;
    animation-name: zoom-in;

    // -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;

    // -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #bbb;
    }

    &__headLeft {
      border-right: 1px solid #bbb;
    }

    &__headLeft,
    &__headRight {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;

      p {
        color: white;
        font-size: 40px;
        font-family: sans-serif;
      }
    }

    .QueueDialogBox {
      height: 100%;
      display: grid;
      grid-template-columns: 5fr 1fr 5fr;
      align-items: center;
      justify-content: center;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        font-size: 60px;
        font-weight: 700;
        color: white;
        font-family: sans-serif;
      }

      &__lineRow {
        div {
          width: 97px;
          height: 97px;
          background-color: white;
          opacity: 0.8;
          /* stylelint-disable-next-line declaration-colon-newline-after */
          clip-path: polygon(
            0 30%,
            50% 30%,
            50% 1%,
            100% 50%,
            50% 100%,
            50% 70%,
            0 70%
          );
        }
      }
    }
  }

  .backColorStep1 {
    background-color: #1e9450;
  }

  .backColorStep2 {
    background-color: #db781d;
  }

  .backColorStep3 {
    background-color: #b71c14;
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
