.QueueDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 5000;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #00000080;

  &__container {
    width: 800px;
    height: 300px;

    display: flex;
    flex-direction: column;

    animation-name: zoom-in;
    animation-duration: 0.7s;
    animation-fill-mode: both;

    border-radius: 8px;

    &--head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--headLeft {
      width: 50%;
      padding: 20px 0;

      display: flex;
      align-items: center;
      justify-content: center;

      color: white;
      font-size: 40px;
      font-family: sans-serif;
    }

    &--headRight {
      width: 50%;
      padding: 20px 0;

      display: flex;
      align-items: center;
      justify-content: center;

      color: white;
      font-size: 40px;
      font-family: sans-serif;
    }

    &--queueDialogBox {
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: space-around;

      p {
        width: 40%;
        text-align: center;
        margin: 0 auto;
        color: white;
        font-size: 60px;
        font-weight: 700;
        font-family: sans-serif;
      }

      svg {
        color: #fff;
        font-size: 56px;
        font-weight: 700;
      }
    }
  }

  .backColorStep1 {
    background-color: #1e9450;
  }

  .backColorStep2 {
    background-color: #db781d;
  }

  .backColorStep3 {
    background-color: #b71c14;
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
