.QueueUserDoctorWrapper {
  // max-width: 273px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: inline-block;
  border: 2px solid black;

  .QueuesLine {
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
  }

  .QueuesListTitle {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;

    p {
      padding: 20px 4px;
      font-size: 18px;
      color: #000;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.06px;
      font-family: sans-serif;
    }

    .QueuesListTitleChild1 {
      text-align: center;
      border-right: 1px solid #000;
    }
  }

  .QueuesNumber {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .ticketNumber {
      border-right: 1px solid #000;
    }

    .roomNumber {
      text-align: center;
    }

    p {
      padding: 25px 3px;
      width: 100%;
      color: #000;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.085px;
      font-family: sans-serif;
    }

    img {
      width: 34px;
      height: 34px;
      display: block;
      flex-shrink: 0;
    }
  }
}
