.FileUploaderWrp {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.wrapperFileUploader {
  width: 100%;
  height: fit-content;
  border: solid 1px #b7b2b2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 0;

  .buttonFileUploader {
    width: 200px !important;
    height: 40px;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: 1000;
    height: 40px;
    width: 200px;
    cursor: pointer;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .img {
    max-width: 300px;
    max-height: 400px;
  }
}

.wrapperInput {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;

  .textField {
    width: 100% !important;
    color: var(--text-color) !important;
    border: 1px solid var(--border-table);
  }

  .phoneInputText {
    padding: 16.5px 14px;
    width: 100% !important;
    border: 1px solid #80808071;
    border-radius: 4px;
    font-size: 16px;
  }
}

.submit {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;

  button {
    width: 200px;
  }
}
