.QueuesPageWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;

  .QueuesPageImg {
    width: 100%;
    float: left;
  }

  .RightCardRendering {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
    margin-left: -5px;
  }

  .BottomCardRendering {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: space-between;
  }

  .QueuesPageFlex {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .BorderCardOchered {
    border: 1px solid #e0e0e0;
  }

  .Marquee {
    font-size: 20px;
    margin: 25px;
    margin-left: 0;
    user-select: none;
    font-family: sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
  }
}
