.QueuesControlDoctorWrapper {
  width: 100%;

  .TableDoctor {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 10px;
  }

  .TableTitle {
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
  }

  &__noQueueTitle {
    text-align: center;
    font-family: sans-serif;
    margin: 50px auto;
    color: #970407;
    padding: 10px;
    border: 1px solid #970407;
  }
}

.wraperListDoctor {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
}
