.ButtonNavbarWrapper {
  max-width: 1300px;
  width: 100%;
  max-height: 60px;
  font-family: sans-serif;
  border-radius: 5.273px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 20px;

  p {
    color: #1d1d1d;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.036px;
    user-select: none;

    span {
      color: #828282;
    }
  }

  .ButtonNavbarIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .ButtonNavbarIconsChild {
      width: 35px;
      height: 35px;
      flex-shrink: 0;
      display: flex;
      padding: 7px;
      align-items: center;
      justify-content: center;
      border-radius: 5.2px;
      border: 1.1px solid #e0e0e0;
      cursor: pointer;
      user-select: none;
    }

    .ButtonNavbarIconsChild:active {
      transform: scale(0.97);
    }
  }
}
